[data-oem="Accordion"] {
  margin:0;
  padding:0;
}

[data-oem="Accordion"] dt {
  margin:0;
  padding:10px;
  background-color: #000000;
  color: #FFF;
  cursor:pointer;
}

[data-oem="Accordion"] dt:before {
  content:"";
  width: 0; 
  height: 0; 
  border-top: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid white;
  display: inline-block;
  margin-right: 8px;
}

[data-oem="Accordion"] dt.expanded:before {
  content:"";
  width: 0; 
  height: 0; 
  border-top: 5px solid white;
  border-right: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid transparent;
  display: inline-block;
  margin-right: 8px;
  vertical-align: bottom;
}

[data-oem="Accordion"] dt:hover {
  background-color: #000000;
}

[data-oem="Accordion"] dd {
  margin:0;
  padding:0px 10px;
  height:0;
  overflow:hidden;
  transition:all 0.25s;
  border-bottom:1px solid #FFFFFF;
}

[data-oem="Accordion"] dd.expanded {
  padding:10px;
  height:auto;
  overflow:visible;
  transition:all 0.25s;
}
[data-oem="Button"],
[data-oem-class="Button"] {
    font-size: 12px;
    display: inline-block;
    padding: 5px 15px;
    background-color: black;
    color: white;
    border:none;
    border-radius: 3px;
    line-height:24px;
    cursor:pointer;
}

[data-oem-class="Button"] +
[data-oem-class="Button"] {
    margin-left:5px;
}

[data-oem="Button"].--hollow,
[data-oem-class="Button"].--hollow {
    background-color: transparent;;
    border: 1px solid black;
    color: black;
}
[data-oem="Progress"] {
    background-color: #e2e2e2;
    border-radius: 5px;
    height: 20px;
    width: 100%;
}

[data-oem="Progress"] .__bar {
    background-color: #000000;
    border-radius: 5px;
    height: 20px;
    width: 0%;
}
[data-oem="DataTable"] table {
    border-collapse: collapse;
    border-top: 1px solid #d2d2d2;
    border-right: 1px solid #d2d2d2;
    width:100%;
}

[data-oem="DataTable"] table th {
    background-color: #e2e2e2;
    cursor: pointer;
    position: relative;
    line-height: 40px;
    text-align: left;
    padding:0 40px 0 10px;
    border-left:1px solid #d2d2d2;
}

[data-oem="DataTable"] table td {
    padding: 10px;
    border-left: 1px solid #d2d2d2;
    border-bottom: 1px solid #d2d2d2;
}

/**
 * Arrows
 */
[data-oem="DataTable"] table th[data-oem-sort-by]:after,
[data-oem="DataTable"] table th[data-oem-sort-by].--asc:after {
  content:"";
  width: 0; 
  height: 0; 
  border-top: 5px solid black;
  border-right: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid transparent;
  display: inline-block;
  position: absolute;
  top:17px;
  right: 10px;
  opacity: 0.25;
}

[data-oem="DataTable"] table th[data-oem-sort-by].--desc:after {
  border-top: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid black;
  border-left: 5px solid transparent;
  top: 12px;
}

[data-oem="DataTable"] table th[data-oem-sort-by]:hover:after,
[data-oem="DataTable"] table th[data-oem-sort-by].--sorted:after
{
    opacity: 1;
}

/**
 * Lines
 */
[data-oem="DataTable"] table th[data-oem-sort-by]:before {
  content:"";
  border-left:1px solid #eeeeee;
  height: 40px;
  width: 30px;
  position: absolute;
  right:0px;
}

[data-oem="Dialog"] {
    position: fixed;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    display: none;
    z-index: 1000;
}

[data-oem="Dialog"].--showing {
    display: block;
}

[data-oem="Dialog"] .__content {
    width: 0px;
    height: 0px;
    max-width: 100%;
    max-height: 100%;
    background-color: #f2f2f2;
    position: fixed;
    transition: all 0.5s;
    overflow-x: hidden;
    overflow-y: auto;
}

[data-oem="Dialog"] .__backdrop {
    position: fixed;
    top:0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    background-color: #000000;
    transition: all 0.5s;
}
[data-oem="Drawer"] {
    width: 360px;
    position: fixed;
    top: 0px;
    left: -100%;
    right: auto;
    background-color: #FFFFFF;
    height: 100%;
    box-shadow: 0px 0px 0px #000000;
    transition: all 0.5s;
    z-index: 100;
}

[data-oem="Drawer"].--fullscreen {
    width: 100%;
}

[data-oem="Drawer"].--open {
    box-shadow: -10px 0px 30px #000000;
    left: 0;
    right: auto;
    transition: all 0.5s;
}

[data-oem="Drawer"].--right {
    width: 360px;
    position: fixed;
    top: 0px;
    right: -100%;
    left: auto;
    background-color: #FFFFFF;
    height: 100%;
    transition: all 0.5s;
}

[data-oem="Drawer"].--right.--open {
    right: 0;
    left: auto;
    box-shadow: 10px 0px 30px #000000;
    transition: all 0.5s;
}

[data-oem="Drawer"] .__closeBtn {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    background: transparent;
    border: 0;
    cursor: pointer;
    display: block;
}

[data-oem="Drawer"].--close-btn-never .__closeBtn {
    display: none;
}

[data-oem="Drawer"].--close-btn-only-fullscreen .__closeBtn {
    display: none;
}

[data-oem="Drawer"].--fullscreen.--close-btn-only-fullscreen .__closeBtn {
    display: inline-block;
}

[data-oem="Drawer"] .__closeBtn span::before,
[data-oem="Drawer"] .__closeBtn  span::after {
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 4px;
    background-color: #000000;
    content: "";
}

[data-oem="Drawer"] .__closeBtn span {
    background-color: #999999;
    position: relative;
    display: block;
}

[data-oem="Drawer"] .__closeBtn span::before {
    top: 0;
    transform: rotate(45deg);
}

[data-oem="Drawer"] .__closeBtn span::after {
    bottom: 0;
    transform: rotate(-45deg);
}
[data-oem="Validator"] {
    display: none;
    font-size: 12px;
    margin: 10px 0;
    color: red;
}
[data-oem="Hamburger"] {
}

[data-oem="Hamburger"] {
    display: block;
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 48px;
    height: 48px;
    font-size: 0;
    text-indent: -9999px;
    appearance: none;
    box-shadow: none;
    border-radius: none;
    border: none;
    cursor: pointer;
    transition: background 0.3s
}

[data-oem="Hamburger"]:focus {
    outline: none;
}

[data-oem="Hamburger"] span {
    display: block;
    position: absolute;
    top: 22px;
    left: 9px;
    right: 9px;
    height: 4px;
    background: white
}

[data-oem="Hamburger"] span::before,
[data-oem="Hamburger"] span::after {
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #fff;
    content: "";
}

[data-oem="Hamburger"] span::before {
    top: -10px;
}

[data-oem="Hamburger"] span::after {
    bottom: -10px;
}

[data-oem="Hamburger"] {
    background-color: #000000;
}

[data-oem="Hamburger"] span {
    transition: background 0s 0.3s
}

[data-oem="Hamburger"] span::before,
[data-oem="Hamburger"] span::after {
    transition-duration: 0.3s, 0.3s;
    transition-delay: 0.3s, 0s
}

[data-oem="Hamburger"] span::before {
    transition-property: top, transform;
}

[data-oem="Hamburger"] span::after {
    transition-property: bottom, transform;
}

[data-oem="Hamburger"].--active span {
    background: none;
}

[data-oem="Hamburger"].--active span::before {
    top: 0;
    transform: rotate(45deg);
}

[data-oem="Hamburger"].--active span::after {
    bottom: 0;
    transform: rotate(-45deg);
}

[data-oem="Hamburger"].--active span::before,
[data-oem="Hamburger"].--active span::after {
    transition-delay: 0s, 0.3s;
}
[data-oem="Checkbox"] label {
    line-height: 20px;
    font-size: 14px;
    margin: 10px 0;
} 

[data-oem="Checkbox"] input[type="checkbox"] {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    border: 1px solid #000000;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
    padding: 10px;
    margin:0;
    border-radius: 3px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
}

[data-oem="Checkbox"] input[type="checkbox"]:checked:after {
    content: '\2714';
    font-size: 14px;
    position: absolute;
    top: 0px;
    left: 5px;
    color: #000000;
}
[data-oem="Form"] fieldset{
    margin:0 0 10px 0;
    padding:0;
    border:0;
}
[data-oem="Responsifier"] {
    
}
[data-oem="Select"] > input {
    width:100%;
    font-size: 12px;
    padding:10px 0;
    text-indent:10px;
    border:1px solid  black;
    border-radius: 2px;
}

[data-oem="Select"] .help {
    font-size: 12px;
    opacity: 0.6;
    margin: 0 0 5px;
}

[data-oem="Select"] label {
    font-size: 14px;
    margin: 10px 0;
}

[data-oem="Select"] .--wrapper {
    padding: 0;
    margin: 0;
    border: 1px solid black;
    width: 100%;
    border-radius: 3px;
    overflow: hidden;
    background-color: #fff;
    display: block;
    background: #fff url(data:image/gif;base64,R0lGODlhDwAUAIABAAAAAP///yH5BAEAAAEALAAAAAAPABQAAAIXjI+py+0Po5wH2HsXzmw//lHiSJZmUAAAOw==) no-repeat right 10px center;
}

[data-oem="Select"] .--wrapper select {
    width:100%;
    font-size: 12px;
    padding:10px 0;
    text-indent:10px;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}

[data-oem="Select"] .--wrapper select:focus {
    outline: none;
}
[data-oem="Toggle"] label {
    line-height: 20px
    font-size: 14px;
    margin: 10px 0;
}

[data-oem="Toggle"] input[type="checkbox"]{
    -webkit-appearance: none;
    height: 25px;
    width: 65px;
    border: 1px solid #000000;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
    padding: 10px;
    margin:0;
    border-radius: 25px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    background-color: #000000;
    color: #FFFFFF;
    transition: all 0.5s;
}

[data-oem="Toggle"] input[type="checkbox"]:checked {
    background-color: #FFFFFF;
    color:#000000;
    transition: all 0.5s;
}


[data-oem="Toggle"] input[type="checkbox"]:before {
    content: 'off';
    font-size: 14px;
    position: absolute;
    top: 2px;
    right: 8px;
    left: auto;
}

[data-oem="Toggle"] input[type="checkbox"]:checked:before {
    content: 'on';
    font-size: 14px;
    position: absolute;
    top: 2px;
    left: 8px;
}

[data-oem="Toggle"] input[type="checkbox"]:after {
    content: '';
    height: 19px;
    width: 30px;
    border-radius: 10px;
    background-color: #666666;
    position: absolute;
    top: 2px;
    left: 2px;
    right: auto;
    transition: all 0.5s;
}

[data-oem="Toggle"] input[type="checkbox"]:checked:after {
    content: '';
    height: 19px;
    width: 30px;
    border-radius: 10px;
    background-color: #666666;
    position: absolute;
    top: 2px;
    left: 31px;
    transition: all 0.5s;
}
[data-oem="TextInput"] > input {
    width:100%;
    font-size: 12px;
    padding:10px 0;
    text-indent:10px;
    border:1px solid  black;
    border-radius: 2px;
}

[data-oem="TextInput"] .help {
    font-size: 12px;
    opacity: 0.6;
    margin: 0 0 5px;
}

[data-oem="TextInput"] label {
    font-size: 14px;
    margin: 10px 0;
}

[data-oem="TextInput"].--has-error > input {
    border:1px solid red;
}
[data-oem="Textarea"] textarea {
    min-height: 80px;
    width:100%;
    font-size: 12px;
    padding:10px 0;
    text-indent:10px;
    border:1px solid black;
    border-radius: 2px;
}

[data-oem="Textarea"] .help  {
    font-size: 12px;
    opacity: 0.6;
    margin: 0 0 5px;
}

[data-oem="Textarea"] label {
    font-size: 14px;
    margin: 10px 0;
}

[data-oem="Textarea"].--has-error textarea {
    border:1px solid red;
}


section h1 {
    font-size: 32px;    
}

section h2 {
    font-size: 24px;
}

section h3 {
    font-size: 20px;
}