/**
 * RESET
 */
html, body {
    background-color: #111111;
    color: #F2F2F2;
    margin: 0;
    padding: 0;
}

/**
 * COMPONENTS
 */
#demo {
    display: table;
    width: 100%;
    height: 100%;
}

#leftNav {
    display: table-cell;
    width: 250px;
    border-right: 1px solid #222222;
    transition: all 0.5s;
}

#leftNav .item {
    line-height: 50px;
    display: table;
    width: 100%;
    border-bottom:1px solid #222222;
    opacity: 0.7;
    height: 50px;
    cursor: pointer;
}

#leftNav .item:hover {
    opacity: 1;
}

#leftNav .item span {
    display: table-cell;
    text-indent: 15px;
}

#leftNav .item i {
    display: table-cell;
    width: 50px;
    text-align: center;
    opacity: 0.5;
    line-height: 50px;
}

#leftNav.--slim {
    width: 50px;
    transition: all 0.5s;
}

#leftNav.--slim span {
    display: none;
}

#main {
    display: table-cell;
}

/**
 * TYPOGRAPHY
 */
* {
 font-family: 'Roboto', sans-serif;
 -webkit-font-smoothing: antialiased;
}