/**
 * RESET
 */
html, body {
    background-color: #333333;
    color: #F2F2F2;
    margin: 0;
    padding: 0;
}

/**
 * COMPONENTS
 */
#demo {
    padding:50px;
}

/**
 * TYPOGRAPHY
 */
* {
 font-family: 'Roboto', sans-serif;
 -webkit-font-smoothing: antialiased;
}

[data-oem="Accordion"] dt {
    background-color: transparent;
}

[data-oem="Accordion"] dd {
    border:0px;
}